# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_pro-bak
*-backups
*.kicad_prl
*.sch-bak
*~
*.zip
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
\#auto_saved_files\#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
# bom/ibom.html

# KiCad 5 files
*.pro
*.sch

# Unsorted files
ESP32-CAM-WebServer-Circuit
archive_3d_models.log
